In [4]:
from sklearn.model_selection import train_test_split
import category_encoders as ce
import numpy as np
import pandas as pd
import joblib
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [5]:
df_adult_new = pd.read_excel('Cleaned_Census_Data.xlsx')

df_model=df_adult_new.drop(columns=['marital_status','relationship','fnlwgt','race','sex','capital_gain','capital_loss','CG_Category'])

In [6]:
X = df_model.drop(['income'], axis=1)

y = df_model['income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)


encoder = ce.OrdinalEncoder(cols=['workclass', 'education','nativecountry','occupation'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

In [19]:
joblib.dump(classifier, "rf_model.sav")

['rf_model.sav']

In [20]:
accuracy

0.7810522397319767

In [7]:
X

,age,workclass,education,occupation,hours_per_week,nativecountry
0,39,State-gov,4,Adm-clerical,40,United-States
1,50,Self-emp-not-inc,4,Exec-managerial,13,United-States
2,38,Private,2,Handlers-cleaners,40,United-States
3,53,Private,1,Handlers-cleaners,40,United-States
4,28,Private,4,Prof-specialty,40,Cuba
...,...,...,...,...,...,...
48837,39,Private,4,Prof-specialty,36,United-States
48838,64,Private,2,Adm-clerical,40,United-States
48839,38,Private,4,Prof-specialty,50,United-States
48840,44,Private,4,Adm-clerical,40,United-States
48841,35,Self-emp-inc,4,Exec-managerial,60,United-States